/vendor
/.idea
/.vscode
/.env
/.env.backup
/.env.production
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.DS_Store
node_modules
npm-debug.log
yarn-error.log
